.cl-flipbox {
  display: inline-block;
  position: relative;
}
.cl-flipbox-h {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.cl-flipbox-hh,
.cl-flipbox-hhh {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.cl-flipbox-hh,
.cl-flipbox-hhh,
.cl-flipbox-front,
.cl-flipbox-back,
.cl-flipbox-xflank,
.cl-flipbox-yflank {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
.cl-flipbox-front,
.cl-flipbox-back {
  padding: 30px;
  text-align: center;
  background-size: cover;
}
.cl-flipbox-front {
  position: relative;
  z-index: 1;
}
.cl-flipbox-front-h,
.cl-flipbox-back-h,
.cl-flipbox-front-title,
.cl-flipbox-back-title,
.cl-flipbox-front-desc,
.cl-flipbox-back-desc {
  color: inherit;
}
.cl-flipbox-front-icon,
.cl-flipbox-back-icon,
.cl-flipbox-front-title,
.cl-flipbox-back-title,
.cl-flipbox-front-desc,
.cl-flipbox-back-desc {
  padding: 0;
  margin: 0 0 20px;
}
.cl-flipbox-front-h > *:last-child,
.cl-flipbox-back-h > *:last-child {
  margin-bottom: 0;
}
.cl-flipbox-front-icon {
  display: inline-block;
  box-sizing: content-box;
}
.cl-flipbox-front-icon.style_circle {
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}
.cl-flipbox-front-icon.size_xs {
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.cl-flipbox-front-icon.size_s {
  font-size: 15px;
  width: 38px;
  height: 38px;
  line-height: 38px;
}
.cl-flipbox-front-icon.size_m {
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.cl-flipbox-front-icon.size_l {
  font-size: 30px;
  width: 75px;
  height: 75px;
  line-height: 75px;
}
.cl-flipbox-front-icon.size_xl {
  font-size: 40px;
  width: 100px;
  height: 100px;
  line-height: 100px;
}
.cl-flipbox-back,
.cl-flipbox-xflank,
.cl-flipbox-yflank {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.cl-flipbox:hover .cl-flipbox-front,
.cl-flipbox.hover .cl-flipbox-front {
  z-index: -1;
}
.cl-flipbox:hover .cl-flipbox-back,
.cl-flipbox.hover .cl-flipbox-back {
  z-index: 1;
}
.cl-flipbox.animation_cardflip.direction_n .cl-flipbox-front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_n .cl-flipbox-back {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.cl-flipbox.animation_cardflip.direction_n:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_n.hover .cl-flipbox-front {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cl-flipbox.animation_cardflip.direction_n:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_n.hover .cl-flipbox-back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_ne .cl-flipbox-hh {
  -webkit-transform: rotate3d(1, 1, 0, 0deg);
  transform: rotate3d(1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_ne .cl-flipbox-back {
  -webkit-transform: rotate3d(1, 1, 0, -180deg);
  transform: rotate3d(1, 1, 0, -180deg);
}
.cl-flipbox.animation_cardflip.direction_ne:hover .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_ne.hover .cl-flipbox-hh {
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
  transform: rotate3d(1, 1, 0, 180deg);
}
.cl-flipbox.animation_cardflip.direction_e .cl-flipbox-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_e .cl-flipbox-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cl-flipbox.animation_cardflip.direction_e:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_e.hover .cl-flipbox-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cl-flipbox.animation_cardflip.direction_e:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_e.hover .cl-flipbox-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_se .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_se .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_se .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, -180deg);
  transform: rotate3d(-1, 1, 0, -180deg);
}
.cl-flipbox.animation_cardflip.direction_se:hover .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_se.hover .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_se:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_se.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, 90deg);
  transform: rotate3d(-1, 1, 0, 90deg);
}
.cl-flipbox.animation_cardflip.direction_se:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_se.hover .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, -90deg);
  transform: rotate3d(-1, 1, 0, -90deg);
}
.cl-flipbox.animation_cardflip.direction_s .cl-flipbox-front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_s .cl-flipbox-back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cl-flipbox.animation_cardflip.direction_s:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_s.hover .cl-flipbox-front {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.cl-flipbox.animation_cardflip.direction_s:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_s.hover .cl-flipbox-back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_sw .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_sw .cl-flipbox-front {
  -webkit-transform: rotate3d(1, 1, 0, 0deg);
  transform: rotate3d(1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_sw .cl-flipbox-back {
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
  transform: rotate3d(1, 1, 0, 180deg);
}
.cl-flipbox.animation_cardflip.direction_sw:hover .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_sw.hover .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_sw:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_sw.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(1, 1, 0, -90deg);
  transform: rotate3d(1, 1, 0, -90deg);
}
.cl-flipbox.animation_cardflip.direction_sw:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_sw.hover .cl-flipbox-back {
  -webkit-transform: rotate3d(1, 1, 0, 90deg);
  transform: rotate3d(1, 1, 0, 90deg);
}
.cl-flipbox.animation_cardflip.direction_w .cl-flipbox-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_w .cl-flipbox-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cl-flipbox.animation_cardflip.direction_w:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_w.hover .cl-flipbox-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cl-flipbox.animation_cardflip.direction_w:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_w.hover .cl-flipbox-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_nw .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_nw .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_nw .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, 180deg);
  transform: rotate3d(-1, 1, 0, 180deg);
}
.cl-flipbox.animation_cardflip.direction_nw:hover .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_nw.hover .cl-flipbox-hh,
.cl-flipbox.animation_cardflip.direction_nw:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_nw.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, -90deg);
  transform: rotate3d(-1, 1, 0, -90deg);
}
.cl-flipbox.animation_cardflip.direction_nw:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_nw.hover .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, 90deg);
  transform: rotate3d(-1, 1, 0, 90deg);
}
.cl-flipbox.animation_cubetilt.direction_n .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_n .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_n .cl-flipbox-back {
  -webkit-transform: translateY(50%) rotateX(-90deg);
  transform: translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_n:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubetilt.direction_n.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%);
  transform: rotateX(90deg) translateY(-50%);
}
.cl-flipbox.animation_cubetilt.direction_e .cl-flipbox-hh {
  -webkit-transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
  transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_e .cl-flipbox-front {
  -webkit-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_e .cl-flipbox-back {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_e:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubetilt.direction_e.hover .cl-flipbox-hh {
  -webkit-transform: rotateY(90deg) translateX(50%);
  transform: rotateY(90deg) translateX(50%);
}
.cl-flipbox.animation_cubetilt.direction_s .cl-flipbox-hh {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
}
.cl-flipbox.animation_cubetilt.direction_s .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_s .cl-flipbox-back {
  -webkit-transform: translateY(-50%) rotateX(90deg);
  transform: translateY(-50%) rotateX(90deg);
}
.cl-flipbox.animation_cubetilt.direction_s:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubetilt.direction_s.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(-90deg) translateY(50%);
  transform: rotateX(-90deg) translateY(50%);
}
.cl-flipbox.animation_cubetilt.direction_w .cl-flipbox-hh {
  -webkit-transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
  transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
}
.cl-flipbox.animation_cubetilt.direction_w .cl-flipbox-front {
  -webkit-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubetilt.direction_w .cl-flipbox-back {
  -webkit-transform: translateX(50%) rotateY(90deg);
  transform: translateX(50%) rotateY(90deg);
}
.cl-flipbox.animation_cubetilt.direction_w:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubetilt.direction_w.hover .cl-flipbox-hh {
  -webkit-transform: rotateY(-90deg) translateX(-50%);
  transform: rotateY(-90deg) translateX(-50%);
}
.cl-flipbox.animation_cubeflip.direction_n .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_n .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_n .cl-flipbox-back {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_n .cl-flipbox-xflank {
  -webkit-transform: translateY(50%) rotateX(-90deg);
  transform: translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_n:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_n.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(90deg);
}
.cl-flipbox.animation_cubeflip.direction_ne .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_ne .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_ne .cl-flipbox-back {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(-90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_ne .cl-flipbox-xflank {
  -webkit-transform: translateY(50%) rotateX(-90deg);
  transform: translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_ne .cl-flipbox-yflank {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_ne:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_ne.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(1, 1, 0, 90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(1, 1, 0, 90deg);
}
.cl-flipbox.animation_cubeflip.direction_ne:hover .cl-flipbox-hhh,
.cl-flipbox.animation_cubeflip.direction_ne.hover .cl-flipbox-hhh {
  -webkit-transform: rotate3d(1, 1, 0, 90deg);
  transform: rotate3d(1, 1, 0, 90deg);
}
.cl-flipbox.animation_cubeflip.direction_e .cl-flipbox-hh {
  -webkit-transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
  transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_e .cl-flipbox-front {
  -webkit-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_e .cl-flipbox-back {
  -webkit-transform: rotateY(90deg) translateX(50%) rotateY(90deg);
  transform: rotateY(90deg) translateX(50%) rotateY(90deg);
}
.cl-flipbox.animation_cubeflip.direction_e .cl-flipbox-yflank {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_e:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_e.hover .cl-flipbox-hh {
  -webkit-transform: rotateY(90deg) translateX(50%) rotateY(90deg);
  transform: rotateY(90deg) translateX(50%) rotateY(90deg);
}
.cl-flipbox.animation_cubeflip.direction_se .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_se .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_se .cl-flipbox-back {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(90deg);
}
.cl-flipbox.animation_cubeflip.direction_se .cl-flipbox-xflank {
  -webkit-transform: translateY(-50%) rotateX(90deg);
  transform: translateY(-50%) rotateX(90deg);
}
.cl-flipbox.animation_cubeflip.direction_se .cl-flipbox-yflank {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_se:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_se.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(-1, 1, 0, 90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(-1, 1, 0, 90deg);
}
.cl-flipbox.animation_cubeflip.direction_se:hover .cl-flipbox-hhh,
.cl-flipbox.animation_cubeflip.direction_se.hover .cl-flipbox-hhh {
  -webkit-transform: rotate3d(-1, 1, 0, 90deg);
  transform: rotate3d(-1, 1, 0, 90deg);
}
.cl-flipbox.animation_cubeflip.direction_s .cl-flipbox-hh {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
}
.cl-flipbox.animation_cubeflip.direction_s .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_s .cl-flipbox-back {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_s .cl-flipbox-xflank {
  -webkit-transform: translateY(-50%) rotateX(90deg);
  transform: translateY(-50%) rotateX(90deg);
}
.cl-flipbox.animation_cubeflip.direction_s .cl-flipbox-yflank {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_s:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_s.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_sw .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_sw .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_sw .cl-flipbox-back {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(-90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_sw .cl-flipbox-xflank {
  -webkit-transform: translateY(-50%) rotateX(90deg);
  transform: translateY(-50%) rotateX(90deg);
}
.cl-flipbox.animation_cubeflip.direction_sw .cl-flipbox-yflank {
  -webkit-transform: translateX(50%) rotateY(90deg);
  transform: translateX(50%) rotateY(90deg);
}
.cl-flipbox.animation_cubeflip.direction_sw:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_sw.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(-1, -1, 0, 90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(-1, -1, 0, 90deg);
}
.cl-flipbox.animation_cubeflip.direction_sw:hover .cl-flipbox-hhh,
.cl-flipbox.animation_cubeflip.direction_sw.hover .cl-flipbox-hhh {
  -webkit-transform: rotate3d(-1, -1, 0, 90deg);
  transform: rotate3d(-1, -1, 0, 90deg);
}
.cl-flipbox.animation_cubeflip.direction_w .cl-flipbox-hh {
  -webkit-transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
  transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
}
.cl-flipbox.animation_cubeflip.direction_w .cl-flipbox-front {
  -webkit-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_w .cl-flipbox-back {
  -webkit-transform: rotateY(90deg) translateX(50%) rotateY(90deg);
  transform: rotateY(90deg) translateX(50%) rotateY(90deg);
}
.cl-flipbox.animation_cubeflip.direction_w .cl-flipbox-yflank {
  -webkit-transform: translateX(50%) rotateY(90deg);
  transform: translateX(50%) rotateY(90deg);
}
.cl-flipbox.animation_cubeflip.direction_w:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_w.hover .cl-flipbox-hh {
  -webkit-transform: rotateY(-90deg) translateX(-50%) rotateY(-90deg);
  transform: rotateY(-90deg) translateX(-50%) rotateY(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_nw .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_nw .cl-flipbox-front {
  -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
  transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_nw .cl-flipbox-back {
  -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(90deg);
  transform: rotateX(-90deg) translateY(50%) rotateX(-90deg) rotateZ(90deg);
}
.cl-flipbox.animation_cubeflip.direction_nw .cl-flipbox-xflank {
  -webkit-transform: translateY(50%) rotateX(-90deg);
  transform: translateY(50%) rotateX(-90deg);
}
.cl-flipbox.animation_cubeflip.direction_nw .cl-flipbox-yflank {
  -webkit-transform: translateX(50%) rotateY(90deg);
  transform: translateX(50%) rotateY(90deg);
}
.cl-flipbox.animation_cubeflip.direction_nw:hover .cl-flipbox-hh,
.cl-flipbox.animation_cubeflip.direction_nw.hover .cl-flipbox-hh {
  -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(1, -1, 0, 90deg);
  transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) rotate3d(1, -1, 0, 90deg);
}
.cl-flipbox.animation_cubeflip.direction_nw:hover .cl-flipbox-hhh,
.cl-flipbox.animation_cubeflip.direction_nw.hover .cl-flipbox-hhh {
  -webkit-transform: rotate3d(1, -1, 0, 90deg);
  transform: rotate3d(1, -1, 0, 90deg);
}
.cl-flipbox.animation_coveropen.direction_n .cl-flipbox-front {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.cl-flipbox.animation_coveropen.direction_n:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_n.hover .cl-flipbox-front {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.cl-flipbox.animation_coveropen.direction_ne .cl-flipbox-front {
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
.cl-flipbox.animation_coveropen.direction_ne:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_ne.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(1, 1, 0, 90deg);
  transform: rotate3d(1, 1, 0, 90deg);
}
.cl-flipbox.animation_coveropen.direction_e .cl-flipbox-front {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.cl-flipbox.animation_coveropen.direction_e:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_e.hover .cl-flipbox-front {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.cl-flipbox.animation_coveropen.direction_se .cl-flipbox-front {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.cl-flipbox.animation_coveropen.direction_se:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_se.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, 90deg);
  transform: rotate3d(-1, 1, 0, 90deg);
}
.cl-flipbox.animation_coveropen.direction_s .cl-flipbox-front {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.cl-flipbox.animation_coveropen.direction_s:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_s.hover .cl-flipbox-front {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.cl-flipbox.animation_coveropen.direction_sw .cl-flipbox-front {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.cl-flipbox.animation_coveropen.direction_sw:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_sw.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, -1, 0, 90deg);
  transform: rotate3d(-1, -1, 0, 90deg);
}
.cl-flipbox.animation_coveropen.direction_w .cl-flipbox-front {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.cl-flipbox.animation_coveropen.direction_w:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_w.hover .cl-flipbox-front {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.cl-flipbox.animation_coveropen.direction_nw .cl-flipbox-front {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.cl-flipbox.animation_coveropen.direction_nw:hover .cl-flipbox-front,
.cl-flipbox.animation_coveropen.direction_nw.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(1, -1, 0, 90deg);
  transform: rotate3d(1, -1, 0, 90deg);
}
