.cl-ib {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.cl-ib-h {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.cl-ib-image,
.cl-ib-content,
.cl-ib-content-h,
.cl-ib-title,
.cl-ib-text {
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
.cl-ib-image,
.cl-ib-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.cl-ib-image {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.cl-ib-image img {
  display: none;
}
.cl-ib-content {
  z-index: 2;
  text-align: center;
  padding: 10%;
}
.cl-ib-title {
  line-height: 1.4;
  padding: 0 !important;
  margin: 0 !important;
  color: inherit !important;
}
.cl-ib-title.size_tiny {
  font-size: 14px;
}
.cl-ib-title.size_small {
  font-size: 16px;
}
.cl-ib-title.size_medium {
  font-size: 20px;
}
.cl-ib-title.size_large {
  font-size: 24px;
}
.cl-ib-title.size_huge {
  font-size: 28px;
}
.cl-ib-text {
  font-size: 13px;
  line-height: 1.4;
}
.cl-ib-title + .cl-ib-text {
  margin-top: 15px;
}
.cl-ib.animation_melete .cl-ib-image {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.cl-ib.animation_melete .cl-ib-content {
  opacity: 0;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.cl-ib.animation_melete .cl-ib-content:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.5em;
}
.cl-ib.animation_melete .cl-ib-content-h {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.cl-ib.animation_melete:hover .cl-ib-image,
.cl-ib.animation_melete.hover .cl-ib-image {
  opacity: 0.1;
  -webkit-transform: scale(4);
  transform: scale(4);
}
.cl-ib.animation_melete:hover .cl-ib-content,
.cl-ib.animation_melete.hover .cl-ib-content {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.cl-ib.animation_soter .cl-ib-h {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}
.cl-ib.animation_soter .cl-ib-image {
  left: -20%;
  right: 0;
}
.cl-ib.animation_soter .cl-ib-content {
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 50%;
  border: 1px white solid;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cl-ib.animation_soter:hover .cl-ib-image,
.cl-ib.animation_soter.hover .cl-ib-image {
  left: 0;
  right: -20%;
}
.cl-ib.animation_soter:hover .cl-ib-content,
.cl-ib.animation_soter.hover .cl-ib-content {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-ib.animation_phorcys .cl-ib-image {
  bottom: -10%;
}
.cl-ib.animation_phorcys .cl-ib-content {
  top: 70%;
  bottom: -70%;
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 10%) repeat scroll 0 0;
}
.cl-ib.animation_phorcys .cl-ib-text {
  position: relative;
  opacity: 0;
  top: 5%;
}
.cl-ib.animation_phorcys:hover .cl-ib-image,
.cl-ib.animation_phorcys.hover .cl-ib-image {
  top: -10%;
  bottom: 0;
}
.cl-ib.animation_phorcys:hover .cl-ib-content,
.cl-ib.animation_phorcys.hover .cl-ib-content {
  top: 50%;
  bottom: -50%;
}
.cl-ib.animation_phorcys:hover .cl-ib-text,
.cl-ib.animation_phorcys.hover .cl-ib-text {
  opacity: 1;
  top: 0;
}
