.cl-itext {
  display: inline-block;
  position: relative;
  font-size: 30px;
}
.cl-itext-part {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  -webkit-transition-property: width;
  transition-property: width;
}
.cl-itext-part > span.measure {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.cl-itext-part > span > span {
  display: inline-block;
  visibility: hidden;
}
.cl-itext-part > span > span[class^="animated_"] {
  visibility: visible;
}
.cl-itext-part > span > span:last-child {
  margin-right: -200px;
}
.cl-itext.dynamic_bold .dynamic {
  font-weight: bold;
}
