.cl-modal-box,
.cl-modal-overlay {
  display: none;
}
.cl-modal.align_left {
  text-align: left;
}
.cl-modal.align_center {
  text-align: center;
}
.cl-modal.align_right {
  text-align: right;
}
.cl-modal-overlay {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.cl-modal-overlay.active {
  opacity: 1;
}
.cl-modal-closer {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
  width: 50px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.4;
}
.cl-modal-closer:before {
  content: '\00D7';
  font-size: 40px;
}
.cl-modal-overlay:hover .cl-modal-closer {
  opacity: 1;
}
.cl-modal-box {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 1002;
}
.cl-modal-box.size_s {
  width: 400px;
  margin-left: -200px;
}
.cl-modal-box.size_m {
  width: 600px;
  margin-left: -300px;
}
.cl-modal-box.size_l {
  width: 800px;
  margin-left: -400px;
}
.cl-modal-box.size_f {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}
@media (max-width: 900px) {
  .cl-modal-box.size_s,
  .cl-modal-box.size_m,
  .cl-modal-box.size_l {
    top: 50px;
    left: 50px;
    right: 50px;
    width: auto;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .cl-modal-box.size_s,
  .cl-modal-box.size_m,
  .cl-modal-box.size_l {
    top: 25px;
    left: 25px;
    right: 25px;
  }
}
.cl-modal-box-h {
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}
.cl-modal-box-title {
  font-size: 1.15em;
  line-height: 1.5;
  padding: 15px 20px;
  background-color: #f2f2f2;
}
.cl-modal-box-content {
  height: 100%;
  padding: 35px 40px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .cl-modal-box-content {
    padding: 15px 25px;
  }
}
.cl-modal-box.animation_scaleUp .cl-modal-box-h {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cl-modal-box.animation_scaleUp.active .cl-modal-box-h {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.cl-modal-box.animation_scaleDown .cl-modal-box-h {
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cl-modal-box.animation_scaleDown.active .cl-modal-box-h {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.cl-modal-box.animation_slideTop .cl-modal-box-h {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.cl-modal-box.animation_slideTop.active .cl-modal-box-h {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.cl-modal-box.animation_slideBottom .cl-modal-box-h {
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cl-modal-box.animation_slideBottom.active .cl-modal-box-h {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.cl-modal-box.animation_flipHor {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.cl-modal-box.animation_flipHor .cl-modal-box-h {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.cl-modal-box.animation_flipHor.active .cl-modal-box-h {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
.cl-modal-box.animation_flipVer {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.cl-modal-box.animation_flipVer .cl-modal-box-h {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.cl-modal-box.animation_flipVer.active .cl-modal-box-h {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
.cl-modal-box.animation_stickyTop {
  top: 0;
}
.cl-modal-box.animation_stickyTop .cl-modal-box-h {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.cl-modal-box.animation_stickyTop.active .cl-modal-box-h {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.cl-modal-box.animation_stickyBottom {
  top: auto;
  bottom: 0;
}
.cl-modal-box.animation_stickyBottom .cl-modal-box-h {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.cl-modal-box.animation_stickyBottom.active .cl-modal-box-h {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
