@import "prefixer.less";

.cl-ib {
	display: inline-block;
	vertical-align: top;
	position: relative;

	&-h {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		.transition-property(none);
		.transform-origin(0 0);
	}
	// Animations and transitions
	&-image,
	&-content,
	&-content-h,
	&-title,
	&-text {
		.transition-timing-function(inherit);
	}
	&-image,
	&-content {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	&-image {
		-webkit-background-size: cover;
		background-size: cover;
		background-position: 50% 50%;
		img {
			display: none;
		}
	}
	&-content {
		z-index: 2;
		text-align: center;
		padding: 10%;
	}
	&-title {
		line-height: 1.4;
		padding: 0 !important;
		margin: 0 !important;
		color: inherit !important;
		
		&.size_tiny {
			font-size: 14px;
			}
		&.size_small {
			font-size: 16px;
			}		
		&.size_medium {
			font-size: 20px;
			}
		&.size_large {
			font-size: 24px;
			}
		&.size_huge {
			font-size: 28px;
			}
	}
	&-text {
		font-size: 13px;
		line-height: 1.4;
	}
	&-title + &-text {
		margin-top: 15px;
	}

	// Animation Type: Melete
	&.animation_melete {
		.cl-ib-image {
			.transition-duration(400ms);
			}
		.cl-ib-content {
			opacity: 0;
			.scale(.2);
			.transition-duration(500ms);
			
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				margin-left: -0.5em;
				}
			&-h {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				}
			}
		&:hover,
		&.hover {
			.cl-ib-image {
				opacity: 0.1;
				.scale(4);
			}
			.cl-ib-content {
				opacity: 1;
				.scale(1);
			}
		}
	}

	// Animation Type: Soter
	&.animation_soter {
		.cl-ib-h {
			.perspective(600px);
		}
		.cl-ib-image {
			left: -20%;
			right: 0;
		}
		.cl-ib-content {
			top: 5%;
			left: 5%;
			bottom: 5%;
			right: 50%;
			border: 1px white solid;
			.transform-origin(0% 50%);
			.transform(rotateY(-90deg));
			.backface-visibility(hidden);
		}
		&:hover,
		&.hover {
			.cl-ib-image {
				left: 0;
				right: -20%;
			}
			.cl-ib-content {
				.transform(rotateY(0deg));
			}
		}
	}

	// Animation Type: Phorcys
	&.animation_phorcys {
		.cl-ib-image {
			bottom: -10%;
		}
		.cl-ib-content {
			top: 70%;
			bottom: -70%;
			background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 10%) repeat scroll 0 0;
		}
		.cl-ib-text {
			position: relative;
			opacity: 0;
			top: 5%;
		}
		&:hover,
		&.hover {
			.cl-ib-image {
				top: -10%;
				bottom: 0;
			}
			.cl-ib-content {
				top: 50%;
				bottom: -50%;
			}
			.cl-ib-text {
				opacity: 1;
				top: 0;
			}
		}
	}

	// Animation Type: Aidos
	&.animation_aidos {

	}
}
