@import "prefixer.less";

.cl-ib {
	display: inline-block;
	position: relative;
	&:before {
		content: '';
		display: block;
	}
	&.ratio_2x1:before {
		padding-top: 50%;
	}
	&.ratio_3x2:before {
		padding-top: 66.6666%;
	}
	&.ratio_4x3:before {
		padding-top: 75%;
	}
	&.ratio_1x1:before {
		padding-top: 100%;
	}
	&.ratio_3x4:before {
		padding-top: 125%;
	}
	&.ratio_2x3:before {
		padding-top: 150%;
	}
	&.ratio_1x2:before {
		padding-top: 200%;
	}
	&-h {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}
	&-image {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		-webkit-background-size: cover;
		background-size: cover;
		.transition-duration(inherit);
		.transition-timing-function(inherit);
		img {
			display: none;
		}
	}

	// Animation Type: 1
	&.animation_1 {
		&:hover {
			.cl-ib-image {
				.scale(1.11);
			}
		}
	}
}
