.cl-flipbox {
  display: inline-block;
  position: relative;
}
.cl-flipbox.animation_cardflip {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.cl-flipbox.animation_cardflip .cl-flipbox-h {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 6000ms;
  transition: 6000ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.cl-flipbox.animation_cardflip .cl-flipbox-front,
.cl-flipbox.animation_cardflip .cl-flipbox-back {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
.cl-flipbox.animation_cardflip .cl-flipbox-front {
  position: relative;
  z-index: 1;
}
.cl-flipbox.animation_cardflip .cl-flipbox-back {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.cl-flipbox.animation_cardflip:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.hover .cl-flipbox-front {
  z-index: -1;
}
.cl-flipbox.animation_cardflip:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.hover .cl-flipbox-back {
  z-index: 1;
}
.cl-flipbox.animation_cardflip.direction_n .cl-flipbox-front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_n .cl-flipbox-back {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.cl-flipbox.animation_cardflip.direction_n:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_n.hover .cl-flipbox-front {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cl-flipbox.animation_cardflip.direction_n:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_n.hover .cl-flipbox-back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_ne .cl-flipbox-h {
  -webkit-transform: rotate3d(1, 1, 0, 0deg);
  transform: rotate3d(1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_ne .cl-flipbox-back {
  -webkit-transform: rotate3d(1, 1, 0, -180deg);
  transform: rotate3d(1, 1, 0, -180deg);
}
.cl-flipbox.animation_cardflip.direction_ne:hover .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_ne.hover .cl-flipbox-h {
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
  transform: rotate3d(1, 1, 0, 180deg);
}
.cl-flipbox.animation_cardflip.direction_e .cl-flipbox-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_e .cl-flipbox-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cl-flipbox.animation_cardflip.direction_e:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_e.hover .cl-flipbox-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cl-flipbox.animation_cardflip.direction_e:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_e.hover .cl-flipbox-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_se .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_se .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_se .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, -180deg);
  transform: rotate3d(-1, 1, 0, -180deg);
}
.cl-flipbox.animation_cardflip.direction_se:hover .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_se.hover .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_se:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_se.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, 90deg);
  transform: rotate3d(-1, 1, 0, 90deg);
}
.cl-flipbox.animation_cardflip.direction_se:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_se.hover .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, -90deg);
  transform: rotate3d(-1, 1, 0, -90deg);
}
.cl-flipbox.animation_cardflip.direction_s .cl-flipbox-front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_s .cl-flipbox-back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cl-flipbox.animation_cardflip.direction_s:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_s.hover .cl-flipbox-front {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.cl-flipbox.animation_cardflip.direction_s:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_s.hover .cl-flipbox-back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cl-flipbox.animation_cardflip.direction_sw .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_sw .cl-flipbox-front {
  -webkit-transform: rotate3d(1, 1, 0, 0deg);
  transform: rotate3d(1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_sw .cl-flipbox-back {
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
  transform: rotate3d(1, 1, 0, 180deg);
}
.cl-flipbox.animation_cardflip.direction_sw:hover .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_sw.hover .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_sw:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_sw.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(1, 1, 0, -90deg);
  transform: rotate3d(1, 1, 0, -90deg);
}
.cl-flipbox.animation_cardflip.direction_sw:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_sw.hover .cl-flipbox-back {
  -webkit-transform: rotate3d(1, 1, 0, 90deg);
  transform: rotate3d(1, 1, 0, 90deg);
}
.cl-flipbox.animation_cardflip.direction_w .cl-flipbox-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_w .cl-flipbox-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cl-flipbox.animation_cardflip.direction_w:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_w.hover .cl-flipbox-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cl-flipbox.animation_cardflip.direction_w:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_w.hover .cl-flipbox-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cl-flipbox.animation_cardflip.direction_nw .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_nw .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}
.cl-flipbox.animation_cardflip.direction_nw .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, 180deg);
  transform: rotate3d(-1, 1, 0, 180deg);
}
.cl-flipbox.animation_cardflip.direction_nw:hover .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_nw.hover .cl-flipbox-h,
.cl-flipbox.animation_cardflip.direction_nw:hover .cl-flipbox-front,
.cl-flipbox.animation_cardflip.direction_nw.hover .cl-flipbox-front {
  -webkit-transform: rotate3d(-1, 1, 0, -90deg);
  transform: rotate3d(-1, 1, 0, -90deg);
}
.cl-flipbox.animation_cardflip.direction_nw:hover .cl-flipbox-back,
.cl-flipbox.animation_cardflip.direction_nw.hover .cl-flipbox-back {
  -webkit-transform: rotate3d(-1, 1, 0, 90deg);
  transform: rotate3d(-1, 1, 0, 90deg);
}
.cl-flipbox.direction_nes .cl-flipbox-h {
  -webkit-animation-name: cl_cardflip_ne_out;
  animation-name: cl_cardflip_ne_out;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.cl-flipbox.direction_nes .cl-flipbox-back {
  -webkit-transform: rotate3d(1, 1, 0, -180deg);
  transform: rotate3d(1, 1, 0, -180deg);
}
.cl-flipbox.direction_nes.hover .cl-flipbox-h {
  -webkit-animation-name: cl_cardflip_ne_in;
  animation-name: cl_cardflip_ne_in;
}
