.wp-full-overlay.expanded.wide {
	margin-left: 600px;
}
.wp-full-overlay.wide .wp-full-overlay-sidebar {
	width: 600px;
}
.wp-full-overlay.collapsed.wide .wp-full-overlay-sidebar {
	margin-left: -600px;
}
