div#widgets-right .sidebars-column-1,
div#widgets-right .sidebars-column-2 {
  -webkit-transition: 0.5s max-width ease;
  transition: 0.5s max-width ease;
  min-width: 600px;
  max-width: 600px;
}
.cl-tabs-list:before,
.cl-tabs-list:after {
  content: '';
  display: table;
}
.cl-tabs-list:after {
  clear: both;
}
.cl-tabs-item {
  float: left;
  white-space: nowrap;
  padding: 8px 10px;
  cursor: pointer;
}
.cl-tabs-item.active {
  font-weight: bold;
  cursor: default;
}
