div#widgets-right .sidebars-column-1,
div#widgets-right .sidebars-column-2 {
  -webkit-transition: 0.5s max-width ease;
  transition: 0.5s max-width ease;
  min-width: 600px;
  max-width: 600px;
}
.cl-tabs-list:before,
.cl-tabs-list:after {
  content: '';
  display: table;
}
.cl-tabs-list:after {
  clear: both;
}
.cl-tabs-item {
  float: left;
  white-space: nowrap;
  padding: 8px 10px;
  cursor: pointer;
}
.cl-tabs-item.active {
  font-weight: bold;
  cursor: default;
}
.cl-eform {
  margin: 0 -10px;
}
.cl-eform .cl-tabs-list {
  padding: 0 10px;
}
.cl-eform:before,
.cl-eform:after {
  content: '';
  display: table;
}
.cl-eform:after {
  clear: both;
}
.cl-eform-row {
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  float: left;
}
.cl-eform-row.cl_col-sm-6 {
  width: 50%;
}
.cl-eform-row.type_attach_images .cl-imgattach:before,
.cl-eform-row.type_attach_images .cl-imgattach:after {
  content: '';
  display: table;
}
.cl-eform-row.type_attach_images .cl-imgattach:after {
  clear: both;
}
.cl-eform-row.type_attach_images .cl-imgattach-list li {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border: 1px solid #dfdfdf;
  margin: 0 10px 10px 0;
}
.cl-eform-row.type_attach_images .cl-imgattach-list li .cl-imgattach-delete {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}
.cl-eform-row.type_attach_images .cl-imgattach-list li:hover .cl-imgattach-delete {
  display: block;
}
.cl-eform-row.type_attach_images .cl-imgattach-list li img {
  width: 100%;
  height: 100%;
}
.cl-eform-row.type_attach_images .cl-imgattach-add {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 10px 10px 0;
  border: 1px solid #dfdfdf;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.cl-eform-row.type_dropdown select {
  width: 100%;
}
.cl-eform-row.type_textarea textarea {
  width: 100%;
  resize: vertical;
}
.cl-eform-row.type_textfield input {
  width: 100%;
}
